/* === Basic Code === */

* {
    box-sizing: border-box;
}
html {
    line-height: 1.15;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #ffffff;
}


/* ==== Header Section ==== */
.about-img {
  float: right;
  margin-top: -350px;
  width: 300px;
}
.btn {
    padding: 10px 25px;
    border-radius: 100px;
}
.btn-white {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    margin: 20px;
}
.btn-blue {
    border: 2.4px solid #ffffff;
    color:#ffffff;
}
.hero-text {
    margin-top: 150px;
}
.typed-cursor {
    font-size: 45px;
    color: #ffffff;
}
.position-absolute {
    font-weight: 700;
}


/* ========= Animated Text ======== */
.animate1 {
    position: relative;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ffffff;
  }
  .animate1 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }




/* ==== Navigation Menu ==== */
a {
    color: #0bceaf;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #078571;
    text-decoration: underline;
}
.navbar-light {
    display: 1px;
}
.navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #0bceaf;
}


/* ======== About Section ======= */
.blue {
    background-color: rgb(32, 125, 248);
    color: #ffffff;
}
.blue:hover {
    background-color: rgb(255, 255, 255);
    color: #0f6eeb;
    border-radius: 2px solid rgb(20, 109, 241);
}
.progress {
    border-radius: 10px;
}
.progress .progress-bar {
    width: 0px;
    border-radius: 10px;
    transition: 2s;
}
.display-1 {
    font-size: 160px;
    font-weight: 1000;
}
.position-absolute {
    font-weight: 700;
}


/* ============ My Skills ============ */
.container {
    margin-top: 20px;
}
  
h2 {
    color: #fff;
}
  
.title {
    font-weight: bold;
    font-size: 20px;
    color: #db3a34;
}
  
.bar {
    width: 90%;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
}
  
.bar-1,
  .my-skills {
    width: 80%;
    margin: 10px auto 25px;
}
  
.bar-inner {
    width: 0;
    height: 35px;
    line-height: 35px;
    background: #db3a34;
    border-radius: 5px 0 0 5px;
}
  
.bar-percent {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
}






/* ======== Qualification ======== */
.ex-me {
    margin-top: 35px;
}



/* ======== Services ======== */
.service-h4 {
    padding-bottom: 30px;
}
.service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}
.service-box {
    box-shadow: 0px 1px 7px rgba(0,0,0,0.1);
    margin-left: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.service-box:hover {
    box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705);
}



/* ======== Portfolio ======== */
.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
}


/* ======== Testimonial ======== */
body {
    background-color:#eee;
}

.card {  
    border:none;
}

.user-content p {
    margin-top:5px;
    font-size:12px;
}


.ratings i {
    color:blue;
} 

/* ============ Contact Us ============ */

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #87CEEB;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #87CEEB;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #87CEEB;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

